* {
  box-sizing: border-box;
}
body {
    min-width: 550px;      /* 2x LC width + RC width */
    font-family: 'Roboto', sans-serif;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
  background-color: #000000;
  font-size: 1.125rem;
  height: 4rem;
}
nav div{
  display: inline-flex;
}
nav h1{
  font-weight: 700;
  font-size: 2rem;
  font-family: 'Bebas Neue', cursive;
  color: #ffffff;
  margin: auto 0;
  padding-left: 2rem;
}

nav .nav-list{
  display: inline-flex;
  font-weight: 300;
  color: #ffffff;
}

.nav-list li{
  padding: 0 0.725rem;
}

.banner{
  display: flex;
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
  width: 100%;
}

.banner p{
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5%;
  color: #ffffff;
  font-size: 4rem;
  font-family: 'Bebas Neue', cursive;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem;
}

#container {
  padding-left: 200px;   /* LC width */
  padding-right: 150px;  /* RC width */
}
#container .column {
  position: relative;
  float: left;
  flex-direction: column;
}
#center {
  width: 100%;
}
#left {
  width: 200px;          /* LC width */
  right: 200px;          /* LC width */
  margin-left: -100%;
}
#right {
  width: 150px;          /* RC width */
  margin-right: -150px;  /* RC width */
}
#footer {
  clear: both;
}

#center .column{
  display: flex;
}
/*** IE6 Fix ***/
* html #left {
  left: 150px;           /* RC width */
}